<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.groo.forest.emotion.query.repository.QueryForestEmotionMapper">
    <resultMap id="QueryForestUserItemResultMap"
               type="com.x1.groo.forest.emotion.query.dto.QueryForestEmotionUserItemDTO">
        <result property="id" column="id"/>
        <result property="totalCount" column="total_count"/>
        <result property="placedCount" column="placed_count"/>
        <result property="itemId" column="item_id"/>
        <result property="itemName" column="item_name"/>
        <result property="category" column="category"/>
    </resultMap>

    <select id="findPieceOfMemory" resultMap="QueryForestUserItemResultMap">
        SELECT
               ui.id,
               ui.total_count,
               ui.placed_count,
               i.item_id,
               i.item_name,
               i.category
          FROM tbl_user_item ui
          JOIN tbl_item i ON ui.item_id = i.item_id
          JOIN tbl_user u on ui.user_id = u.user_id
         WHERE i.category = #{category}
           AND ui.user_id = #{userId}
         ORDER BY ui.item_id DESC;
    </select>
</mapper>